{% extends 'base.html' %}

{% block header %}
    <h2>DA4RDM</h2>
{% endblock %}


{% block content %}
    <div class="row">
            <nav class="navbar navbar-expand-sm navbar-light" style="width: 100%;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-tabs nav-fill col-12" >
                        <li class="nav-item">
                            <a id="preprocessing" class="nav-link main-nav-item" href="{{ url_for('blueprints/preprocessing.preprocessing') }}" active >Data Pre-processing</span></a>
                        </li>
                        <li class="nav-item">
                            <a id="process_mining" class="nav-link main-nav-item" href="{{ url_for('blueprints/process_mining.process_discovery') }}">Process Analysis</a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="conformance_checking" class="nav-link main-nav-item disabled" href="#"> </a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="RDLC" class="nav-link main-nav-item disabled" href="#"></a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="FAIR" class="nav-link main-nav-item disabled" href="#"></a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="FAIR" class="nav-link main-nav-item disabled" href="#"></a>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>

    <div class="row background-grey" style="margin-top: 5px;">
        <div class="col-12">
            <div class="form-row align-items-start" style="line-height: 40px;">
                <a href="javascript:createSession()" class="btn btn-secondary" style="margin-right: 15px;margin-bottom: 2px;margin-left: 5px;margin-top: 2px;" > <i class="fas fa-undo-alt"></i> </a>
                <span id="sessionCreatedCheckmark" class="glyphicon glyphicon-ok" aria-hidden="true" style="display: none;"">&#10004;</span>
{#                <span class="mr-sm-2"> Current Session: </span>#}
                <span class="mr-sm-2"> Data Source:  </span>
                <span id="user_session_data_source_display" class="mr-sm-2" style="font-weight: bold;" > None </span>
                <span class="mr-sm-2"> Pre-processing Pipeline: </span>
                <span id="user_session_pipeline_display" class="mr-sm-2" style="font-weight: bold;"> None </span>
            </div>
        </div>
   </div>

    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-12" style="margin-top: 5px;">
            {% block content_body %}

            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/session.js')}}"></script>
<script src="{{url_for('static', filename='js/fileHandler.js')}}"></script>
{% endblock %}

{% block scripts_lvl_2 %}
{% endblock %}
