{% extends 'main/index.html' %}

{% block header %}
    <h2>View Project "{{ project_name }}"</h2>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <a href="javascript:runProject('{{ request.host_url }}', '{{ url_for('blueprints/api.run_project') }}', '{{ project_name }}')" class="btn btn-primary">Run Project</a>
    </div>
    <div class="row d-flex justify-content-center">
        <a href="{{ url_for('index') }}" class="btn btn-secondary btn-lower">Back</a>
    </div>
    <div id="pipeline-running-spinner" class="row spinner" style="text-align: center;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center" >
        <div id="data_target" style="width: 900px; height: 500px;"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- TODO  this has really weird terms of service and should probably be replaced at some point. For instance, you are not allowed to downjoad this and use it offline. -->

    <script src="{{url_for('static', filename='js/runProject.js')}}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
{% endblock %}
