{% extends 'process_mining/process_mining.html' %}

{% block header %}
    <h2>Process-Discovery</h2>
{% endblock %}

{% block content_body %}
    <div class="card col-12">
        <span class="row">
            <div class="col-3">
                <span class="row">
                    <div class="col-12 ">
                    <h4>Event Log </h4>
                    <form>
                        <div class="discovey-left-side-input">
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="start-activity-select">Timestamp</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <select class="selectpicker form-control form-control-sm" id="timestamp_column"></select>
                                </div>
                            </div>
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Case ID</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <select class="selectpicker form-control form-control-sm" id="caseId_column"></select>
                                </div>
                            </div>
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Activitiy</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <select class="selectpicker form-control form-control-sm" id="activity_column"></select>
                                </div>
                            </div>
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Resource</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <select class="selectpicker form-control form-control-sm" id="resource_column"></select>
                                </div>
                            </div>
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Cost</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <select class="selectpicker form-control form-control-sm" id="cost_column"></select>
                                </div>
                            </div>
                            <div class="form-row my-2 float-right">
                                <a href="javascript:sendXesAttributeColumns()" class="btn btn-secondary">Submit</i></a>
                            </div>
                        </div>
                    </form>
                </div>
                </span>
                <span class="row">
                    <div class="col-12">
                    <h4>Filters </h4>
                    <div class="discovey-left-side-input">
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label for="process_discovery_start_date">Start Datetime</label>
                            </div>
                            <div class="col-8 filter-select">
                                <input placeholder="YYYY-MM-DDThh:mm:ss" id="process_discovery_start_date" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="start time" onchange="sendPMParameters();" step="1" >
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label for="process_discovery_end_date">End Datetime</label>
                            </div>
                            <div class="col-8 filter-select">
                                <input placeholder="YYYY-MM-DDThh:mm:ss" id="process_discovery_end_date" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="end time" onchange="sendPMParameters();" step="1" ">
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2" for="process_discovery_start_activity">Start Activity</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select multiple id="process_discovery_start_activity" class="selectpicker form-control form-control-sm disabled" disabled style="max-width: 100%;" ></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2" for="process_discovery_end_activity">End Activity</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select multiple id="process_discovery_end_activity" class="selectpicker form-control form-control-sm disabled" disabled style="max-width: 100%;" ></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label for="process_discovery_min_performance">Min. Perform.</label>
                            </div>
                            <div class="col-8 filter-select">
                                <input id="process_discovery_min_performance" name="beginActivity" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="begin activity" onchange="sendPMParameters();" placeholder="10">
                            </div>
                        </div>
                         <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label for="process_discovery_max_performance">Max. Perform.</label>
                            </div>
                            <div class="col-8 filter-select">
                                <input id="process_discovery_max_performance" name="endActivity" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="end activity" onchange="sendPMParameters();" placeholder="100">                            </div>
                        </div>
                         <div class="form-row my-2 float-right">
                                <a id="reset_filters_button" href="javascript:sendFiltersReset()" class="btn btn-secondary disabled" disabled >Clear Filters</i></a>
                         </div>
                    </form>
                </div>
                </div>
                </span>
            </div>
            <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h4>Options</h4>
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="discovery_algorithm">Discovery Algorithm</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="discovery_algorithm" class="selectpicker form-control form-control-sm">
                                    {% for discovery_algorithm in discovery_algorithms %}
                                        <option id="{{ discovery_algorithm }}" value="{{ discovery_algorithm }}" {% if discovery_algorithm == "directly_follows_graph" %}selected="selected"{% endif %}>{{ discovery_algorithm_labels[discovery_algorithm] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="model_represenations">Visualization Format</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="model_represenations" class="selectpicker form-control form-control-sm">
                                    <option value="svg">SVG</option>
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPG</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="model_variant">Visualization Format</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="model_variant" class="selectpicker form-control form-control-sm">
                                    <option value="frequency">Frequency</option>
                                    <option value="performance">Performance</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="btn-group" role="group" style="float: right;margin-top: 5px;" aria-label="Button group with nested dropdown">
                            <a id="run_discovery_button" href="javascript:runProcessDiscovery('{{ request.host_url }}', '{{ url_for('blueprints/process_mining.process_discovery') }}')" class="btn btn-primary disabled" disabled><i class="fa fa-play" aria-hidden="true"></i></a>
                            <div class="btn-group" role="group">
                                <button id="download_button"  type="button" class="btn btn-secondary dropdown-toggle disabled" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-download"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="download_select">
                                    <a class="dropdown-item" href="javascript:downloadFile('process_mining_data');">CSV</a>
                                    <a class="dropdown-item" href="javascript:downloadFile('event_log');";>Event Log (.xes)</a>
                                    <a class="dropdown-item" href="javascript:downloadFile('output');">Graph</a>
                                </div>
                            </div>
                            <a id="reset_discovery_inputs" href="javascript:sendDiscoveryReset()" class="btn btn-secondary disabled" disabled> <i class="fas fa-undo-alt"></i> </a>
                        </div>
                </div>
                <div class="col-4">
                    <span class="row">
                        <span class="col-5"></span>
                        <span class="col-7">
                            <div class="row">
                                <h4>Information</h4>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_cases">Number of cases: </label><p id='metrics_number_of_cases' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_events">Number of events: </label><p id='metrics_number_of_events' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_activities">Number of activities: </label><p id='metrics_number_of_activities' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_variants">Number of variants: </label><p id='metrics_number_of_variants' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                        </span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                    <h4>Results</h4>
                    <div id="discovery-spinner" class="row spinner" style="text-align: center;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" >
                        <div id="data_target"></div>
                    </div>
                    <img src="{{url_for('static', filename='images/tmpz8cm2gak.gv.png')}}" style="display:none;" />
                </div>
            </div>
        </div>
        </span>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{url_for('static', filename='js/processDiscovery.js')}}"></script>
{% endblock %}
