<!doctype html>
<html>
    <head>
        <title>DA4RDM</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" /> -->

        <script src="{{ url_for('static', filename='axios/axios.min.js') }}"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <section class="content">
            <div class="container text-center" style="text-align: center; max-width: 100%;">
                <div class="row">
                    <div class="col-1 side-margin"></div>
                    <div class="col-10" style="min-height: 1000px;">
                        <div class="row top-bar">
                            <div class="col-12">
                                <div class="row black-bar">
                                    <div class="col-9">
                                        <img src="{{url_for('static', filename='images/rwth-itc.png')}}" />
                                    </div>
                                    <div class="col-3">
                                        <!--can add additional general info like language settings or user name here-->
                                    </div>
                                </div>
                                <div class="row light-bar" style="height: 5em;">
                                    {#
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                            </div>
                                            <div class="col-8">
                                            </div>
                                            <div class="col-3">
                                                <h1 style="visibility: hidden;">da4rdm</h1>
                                            </div>
                                        </div>
                                       <div class="row">
                                            <div class="col-1">
                                            </div>
                                            <div class="col-9">
                                                {% block header %}{% endblock %}
                                            </div>
                                            <div class="col-2">
                                            </div>
                                        </div>
                                    </div>
#}
                                </div>

                            </div>
                        </div>
                        <div class="row body-content" style="margin-top: 0em;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        {% block content %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 side-margin">
                    </div>
                {% block scripts %}{% endblock %}
            </div>
        </section>
    </body>
</html>
